/*navbar*/
#conteudo {
    padding-left: 300px;
}

.dropdown-content {
    top: 100% !important;
}
.sidenav {
    background: linear-gradient(to bottom right, #ff5050 43%, #cc0000 76%);
}
.sidenav li a{
    color:white;
}
.nav-wrapper{
    background-color: white;
    -webkit-box-shadow: 0px 13px 64px -13px rgba(0,0,0,0.48);
    -moz-box-shadow: 0px 13px 64px -13px rgba(0,0,0,0.48);
    box-shadow: 0px 13px 64px -13px rgba(0,0,0,0.48);
}
.nav-wrapper a{
    color: grey;
}
.logo{
    height: 70px !important;
    background-color: white;
}
.dropdown-trigger:hover{
    background-color: transparent !important;
}

/*Navar fim*/

/*page perfil usuario*/

.cardDados{
    border-bottom-style: solid;
    border-bottom-color: #ff5252;
    border-bottom-width: 4px;

}
.cardInvisivel{
    display: none !important;
}

.cardBotoes{
    border-bottom-style: solid;
    border-bottom-color: #ff5252;
    border-bottom-width: 4px;
    -webkit-box-shadow: 0px -13px 71px 1px rgba(244,70,70,1);
    -moz-box-shadow: 0px -13px 71px 1px rgba(244,70,70,1);
    box-shadow: 0px -13px 71px 1px rgba(244,70,70,1);
}
/*Cores*/

.vermelho{
    background-color: #f0253d !important;
}
.vermelho2{
    background-color: #e22b41 !important;
}
.vermelho3{
    background-color: #bf2739 !important;
}
.vermelho4{
    background-color: #f44646 !important;
}
.verde{
    background-color: #36d484 !important;
}
.amarelo{
    background-color: #ffbd20 !important;
}
.rosa{
    background-color: #fc5374 !important;
}
.cinza{
    background-color: #353535 !important;
}
.branco{
    background-color: #ededed !important;
}
.azulClaro{
    background-color: #cfdbe5 !important;
}
.azulEscuro{
    background-color: #373f50 !important;
}
/*Txt cores*/
.vermelho-txt{
    color: #f0253d !important;
}
.vermelho2-txt{
    color: #e22b41 !important;
}
.vermelho3-txt{
    color: #bf2739 !important;
}
.vermelho4-txt{
    color: #f44646 !important;
}
.verde-txt{
    color: #36d484 !important;
}
.amarelo-txt{
    color: #ffbd20 !important;
}
.rosa-txt{
    color: #fc5374 !important;
}
.cinza-txt{
    color: #353535 !important;
}
.branco-txt{
    color: #ededed !important;
}
.azulClaro-txt{
    color: #cfdbe5 !important;
}
.azulEscuro-txt{
    color: #373f50 !important;
}
body{
    font-family: "Bariol" !important;
}


/*Avatar e card*/
.avatar {
    object-fit: cover;
    border-radius:50%;
    width: 90px;
    height: 75px;
    z-index: 15;
}

.status{
    padding: 1px 9px 2px;
    font-size: 12.025px;
    font-weight: bold;
    white-space: nowrap;
    color: #ffffff;
    background-color: #999999;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}
.card-content{
    position: relative;
}
.card{
    margin-top: 5%;
}
.avatar{
    position: absolute;
    z-index: 1;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
    top: -30%;
}
.status-ativo {
    background-color: #36d484;
}
.status-pendente {
    background-color: #ffbd20;
}
.status-inativo {
    background-color: #f0253d;
}
.input-group{
    margin-left: 1%;
    display:table;
}
.input-group .input-field,
.input-group .input-group-addon{
    display:table-cell;
}
.cardAvatar{
    background: linear-gradient(to bottom right, #ff5050 43%, #cc0000 76%);
    border-radius: 5px;
}
.cardAvatar textarea{
    background: white;
}
.cardAvatar label{
    color: white;
}
.circle {
    background-color: #aaa;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    overflow: hidden;
    position: relative;
}
.circle img {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.avatarPerfil{
    margin-top:10%;
    background-color: #ddd;
    border-radius: 100%;
    height: 150px;
    object-fit: cover;
    width: 150px;
}
.textareaPerfil{
    height: 100px;
}
html, body {
    height: 110%;
}
#app{
    min-height: 100%;
    position: relative
}
#footer{
    background: linear-gradient(to bottom right, #ff5050 43%, #cc0000 76%);
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 300px;
    color:white;
}


