.boxContrato{
    border-style: solid;
    border-width: 1px;

    border-left-width: 0px;
    border-right-width: 0px;
    border-color: #f0253d;
    background-color: rgba(174,174,174,0.3);
    border-radius: 25px;
    padding-bottom: 8%;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 4%;
}
.boxContrato img{
    background-color: #aaa;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    overflow: hidden;
    position: relative;
}
html body{
    /*height: 140%;*/
}


.containerTasks{
    width: 85%;
}