.containerRedFlags{
    background: linear-gradient(to bottom right, #ff5050 43%, #cc0000 76%);
}

.formRedFlag{
    border-color: rgba(174,174,174,0.84);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.containerTable{
    width: 80%;
}

.boxRedFlag{
    padding: 1%;
    border-color: rgba(174,174,174,0.84);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.containerRed{
    width: 90%;
}
.divisoria{
    border-bottom-style: solid;
    border-bottom-color: #ff5252;
    border-bottom-width: 4px;
}
.disputeMod{

}